#header {
    background-image: url(https://olliegamer59.github.io/library/images/banner.jpg);
    height: auto;
    padding: 100px 100px
}
h1#headertext {
    color: white;
    font-family: Arial;
    text-align: center;
}